#addDocumentBtn:pressed {
    -fx-background-color:  #bf5c4e;
}

#profilBtn:pressed {
    -fx-background-color:  #bf5c4e;
}
#profilBtn:hover {
    -fx-background-color:  #bf5c4e;
}
#logoutBtn:pressed {
    -fx-background-color:  #bf5c4e;
}
#logoutBtn:hover {
    -fx-background-color:  #bf5c4e;
}
#deleteMaterialBtn {
 -fx-graphic: url("/images/deleteIcon.png");
}
#addMaterialBtn {
 -fx-graphic: url("/images/showIcon.png");
}